{% if product.metafields.item.relate != blank %}
  <div class="page-width"> 
    {%- comment -%}
    <ul class="grid"> 
        {% for item in product.metafields.item.relate.value %}
          <li class="grid__item">
            <a href="{{ item.url }}">
            <img src="{{ item.featured_image | img_url: 'large' }}" style="max-width: 100%;">
            </a>
            <h3>{{ item.title }}</h3>
            <p>{{ item.price_min | money }} ～</p>
          </li>
        {%- endfor %}
      </ul>
    {%- endcomment -%}
    <ul id="Slider-{{ section.id }}" class="grid product-grid contains-card contains-card--product{% if settings.card_style == 'standard' %} contains-card--standard{% endif %} grid--{{ section.settings.columns_desktop }}-col-desktop{% if section.settings.collection == blank %} grid--2-col-tablet-down{% else %} grid--{{ section.settings.columns_mobile }}-col-tablet-down{% endif %}{% if show_mobile_slider or show_desktop_slider %} slider{% if show_desktop_slider %} slider--desktop{% endif %}{% if show_mobile_slider %} slider--tablet grid--peek{% endif %}{% endif %}" role="list" aria-label="{{ 'general.slider.name' | t }}">
      {% for item in product.metafields.item.relate.value %}
        <li id="Slide-{{ section.id }}-{{ forloop.index }}" class="grid__item{% if show_mobile_slider or show_desktop_slider %} slider__slide{% endif %}">
          {% render 'card-product',
            card_product: item,
            media_aspect_ratio: section.settings.image_ratio,
            show_secondary_image: section.settings.show_secondary_image,
            show_vendor: section.settings.show_vendor,
            show_rating: section.settings.show_rating,
            show_quick_add: section.settings.enable_quick_add,
            section_id: section.id
          %}
        </li>
      {%- else -%}
        {%- for i in (1..4) -%}
          <li class="grid__item">
            {% render 'card-product', show_vendor: section.settings.show_vendor %}
          </li>
        {%- endfor -%}
      {%- endfor -%}
      
  </div>
{% endif %}

{% schema %}
  {
    "name": "メタフィールド商品リスト",
    "settings":[] ,
    "presets": [
      {
        "name": "メタフィールド商品リスト"
      }
    ],
    "templates": ["product"]
  }
{% endschema %}

{% javascript %}
{% endjavascript %}